<div class="container"> 
  <div class="home">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/gioi-thieu1.png" class="img-introduce w-100" alt="Ảnh 1">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/gioi-thieu2.jpg" class="img-introduce d-block w-100" alt="Ảnh 2">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/gioi-thieu4.png" class="img-introduce d-block w-100" alt="Ảnh 3">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p>
        <i>Cùng với sách cũ nói chung, những bộ truyện tranh từng gắn bó với nhiều người cách đây từ 20 - 30 năm, đang có một thị trường sôi động, nhất là trên các trang mạng xã hội bán hàng qua online.         </i>
      </p>      
      <hr>
      <h2>Danh sách sản phẩm</h2>

      <div class="card-container">
      <% for (var i = 0; i < products.length; i++) { %>
        <form action="/add-to-cart?id=<%= products[i]._id %>" method="POST">
        <div class="boxsp card card-product-item">
          <img src="<%= products[i].product_image %>" class="card-img-top" alt="Product Image" style="width: 100%; height: 300px;">          <div class="card-body">
            <h5 class="card-title">
              <a href="/viewport?id=<%= products[i]._id %>" class="navbar-brand" style="color: black;"><%= products[i].product_name %></a>
            </h5>
            <div class="card-text">
              Price: $<%= products[i].product_price %>
            </div>
            <div class="row mt-1 align-items-center">
              
              <div class="text-right">
                <button onclick="themvaogiohang(this)" class="cart btn btn-primary" type="submit">
                  Thêm vào giỏ hàng <i class="fas fa-shopping-cart ml-1"></i>
                </button>
              </div>
            </div>
          </div>  
        </div>
    </form>
    <% } %>
  </div>
</div>
<form action="" method="POST"></form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<style>
.container{
  padding-top: 10px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-product-item {
  margin: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6; /* Màu viền */
  border-radius: 5px; /* Bo tròn góc */
  background-color: #f5f5f5; /* Màu nền */
}

.card-title a {
  color: #333; /* Màu chữ */
  text-decoration: none; /* Loại bỏ gạch chân */
}

.card-text {
  color: #666; /* Màu chữ */
}

.btn-primary {
  background-color: #4CAF50; /* Màu nền xanh lá cây */
  color: white; /* Màu chữ trắng */
  margin: 10px; /* Khoảng cách */
  text-align: center; /* Căn giữa */
  padding: 8px 20px; /* Độ rộng và chiều cao của nút */
}

.cart {
  background-color: #FF6347; /* Màu nền đỏ */
  color: white; /* Màu chữ trắng */
  border: none; /* Không có viền */
  padding: 8px 20px; /* Độ rộng và chiều cao của nút */
}

</style>