<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kara's Shop</title>
    
    <link rel="stylesheet" href="css/stytes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    
    <% if (session.role != 'Admin' || !session) { %>
        <div class="header-absolute">
            <%- include('./partials/header.ejs') %>
        </div>
    <% } else { %>
        <div class="header-absolute">
            <%- include('./partials/headerAdmin.ejs') %>
        </div>
    <% } %> 
   
    <div class="container main">
        <div class="row">
            <div class="col-sm-3 category">
                <%- include('./partials/category.ejs') %>
            </div>
            <div class="col-sm-9 ">
                <div class=" body">
                    <%- body%>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>

<style>
  .main{
    min-height: 100vh;
  }
    
</style>