<div class="container">
    <h1 class="mt-3 text-center">Quản lý sản phẩm</h1>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Mã</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Giá vốn</th>
                <th scope="col">Còn lại</th>
                <th scope="col">Nhập vào</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < products.length; i++) { %>
            <tr>
                <td><%= products[i].id %></td>
                <td><%= products[i].product_name %></td>
                <td><%= products[i].product_price %>$</td>
                <td><%= products[i].capital_price %>$</td>
                <td><%= products[i].product_quantity %></td>
                <td><%= products[i].amount %></td>
                <td class="text-center">
                    <a href="detail?id=<%= products[i].id %>" class="btn btn-primary">Xem chi tiết</a> | 
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-id="<%= products[i].id %>" data-bs-target="#deleteProduct">xóa</a></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <div class="mt-3">
        <a href="addProduct" class="btn btn-success">Thêm sản phẩm</a>
    </div>
</div>
<form name="delete-product-form" method="POST"></form>

<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn bạn chắc chắn muốn xóa không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
          <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
        </div>
      </div>
    </div>
  </div>
<script>
    var deleteProduct = document.getElementById('deleteProduct');
    var deleteForm = document.forms['delete-product-form'];
    const btndeleteProduct = document.getElementById("btn-delete-product");
    var productId;
    deleteProduct.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        productId = button.getAttribute('data-id');
    });
    btndeleteProduct.onclick = function() {
        deleteForm.action = '/deleteProduct?id=' + productId  + '&_method=DELETE';
        deleteForm.submit();
    }
    console.log(deleteForm);
</script>

<style>
  /* Thay đổi màu nền cho trang */
body {
  background-color: #f2f2f2; /* Màu xám nhẹ */
}

/* Thay đổi màu sắc cho tiêu đề */
h1 {
  text-decoration: underline; /* Hiển thị gạch chân dưới */
  text-shadow: 2px 2px 4px #392121; /* Tạo bóng với màu đỏ (#FF0000), căn x,y,z lần lượt là 2px, 2px, 4px */
  color: #ff1010; /* Màu chữ */
  text-transform: uppercase;
}

/* Thay đổi màu sắc cho button */
.btn {
  background-color: #4CAF50; /* Màu xanh lá cây */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.btn-primary {
  background-color: #008CBA; /* Màu xanh dương */
}

.btn-danger {
  background-color: #f44336; /* Màu đỏ */
}

/* Thay đổi màu sắc cho bảng */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #4CAF50; /* Màu xanh lá cây */
  color: white;
}

</style>