<style>
    
        h2 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .total-row td {
            font-weight: bold;
        }
        .checkout-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            border: 0px;
        }
</style>
<form class="container" name="container-form-cart" method="POST" action="/handleFormCart?name=<%= session.name %>" >
    <h2>Giỏ hàng</h2>
        <table>
            <tr>
                <th></th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th class="text-center">Tổng cộng</th>
                <th></th>
            </tr>
            <% for (var i = 0; i < carts.length; i++) { %>

                <tr>
                    <td>
                        <!-- checkbox  -->
                        <div class="form-check">
                            <input class="form-check-input" name="carts[]" onclick="onclickCheckBox()" type="checkbox" value="<%= carts[i]._id %>">
                        </div>
                    </td>
                    <td>
                        <%= carts[i].items[0].product_name %>
                    </td>
                    <td>
                        <button class="btn btn-secondarys" onclick="subtractQuantity()">-</button>
                        <span id="quantity" class="quantitys">1</span>
                        <button class="btn btn-secondarys" onclick="addQuantity()">+</button>
                    </td>
                    <td>
                        <%= carts[i].items[0].product_price %>$
                    </td>
                    <td class="price text-center">
                        <%= carts[i].items[0].product_price*carts[i].items[0].quantity %>$
                    </td>
                    <td>
                        <a href="" data-bs-toggle="modal" data-id="<%= carts[i]._id %>" data-bs-target="#deleteCart">xóa</a>
                    </td>

                </tr>
            <% } %>
    
            <tr class="total-row">
                <td colspan="3">Tổng tiền:</td>
                <td></td>
                <td class="text-center" id="priceValue">
                </td>
                <td></td>
            </tr>
        </table>
    
        <button type="submit" id="button-paied" class="disabled checkout-button" onclick="renderCheckSubmitBtn()">Thanh toán</button>
</form>

<!-- delete cart form  -->
<form name="delete-cart-form" method="POST"></form>

<!-- payed form -->
<form name="paied-form" method="POST" action=""></form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<div class="modal fade" id="deleteCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn bạn chắc chắn muốn xóa khỏi giỏ hàng?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
          <button id="btn-delete-cart" type="button" class="btn btn-danger">Xóa bỏ</button>
        </div>
      </div>
    </div>
  </div>

<script>
    // form xóa
    var deleteCart = document.getElementById('deleteCart')
    var cartId;
    var deleteForm = document.forms['delete-cart-form'];
    var containerFormCart = document.forms['container-form-cart'];
    const buttonPaied = document.getElementById('button-paied');
    var checkedCount = 0;

    deleteCart.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        cartId = button.getAttribute('data-id');
    });

    var btnDeleteCart = document.getElementById("btn-delete-cart");

    btnDeleteCart.onclick = function() {
        deleteForm.action = '/deleteCart?id=' + cartId  + '&_method=DELETE';
        deleteForm.submit();
    }

    // đếm số lượng sản phẩm trong giỏ hàng
    const quantitys = document.getElementById('quantity')
    let so_luong = 1;
    quantitys.innerHTML = so_luong;
    function subtractQuantity() {
        if (so_luong > 0) {
            so_luong--;
            quantitys.innerHTML = so_luong;
        }
    }
    function addQuantity() {
        so_luong++;
        quantitys.innerHTML = so_luong;
    }

    // lấy thông tin giao hàng
    

    // tổng giá các sản phẩm trong giỏ hàng
    let priceValue = 0;
    const price = document.getElementsByClassName("price");
    for(var i = 0; i <price.length; i++) {
        priceValue = priceValue + parseFloat(price[i].textContent);
    }
    document.getElementById("priceValue").innerHTML = priceValue + "$";


    //check all submit 
    var shouldPreventDefault ;
    // checkbox Carts 

    function onclickCheckBox() {
        checkedCount = $('input[name="carts[]"]:checked').length;
    }

    function renderCheckSubmitBtn() {
        if(checkedCount > 0) {
            containerFormCart.addEventListener("submit", function(event){
                this.submit();
            });   

        }else{
            alert('Vui lòng chọn sản phẩm');
            containerFormCart.addEventListener("submit", function(event){
                event.preventDefault();
            });   
        }
    }
</script>